    <mtapp:setting
        id="rebuild_blog_ids_at_saving_entry"
        label="<__trans phrase="Rebuild Blog ID at saving entries">">
    <ul>
    <li><input type="text" value="<mt:var name="rebuild_blog_ids_at_saving_entry" escape="HTML">" name="rebuild_blog_ids_at_saving_entry" id="rebuild_blog_ids_at_saving_entry" style="width:470px" /></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="rebuild_blog_ids_at_saving_page"
        label="<__trans phrase="Rebuild Blog ID at saving pages">">
    <ul>
    <li><input type="text" value="<mt:var name="rebuild_blog_ids_at_saving_page" escape="HTML">" name="rebuild_blog_ids_at_saving_page" id="rebuild_blog_ids_at_saving_page" style="width:470px" /></li>
    </ul>
    </mtapp:setting>