<mtapp:setting
   id="only_pulish_status"
   label="">
  <label><input type="checkbox"<mt:if name="only_pulish_status"> checked="checked"</mt:if> name="only_pulish_status" id="only_pulish_status" /> <__trans phrase="only publish status"></label>
</mtapp:setting>
<mtapp:setting
   id="rebuild_blog_ids_at_saving_entry"
   label="<__trans phrase="Rebuild Blog ID at saving entries">">
  <input type="text" value="<mt:var name="rebuild_blog_ids_at_saving_entry" escape="html">" name="rebuild_blog_ids_at_saving_entry" id="rebuild_blog_ids_at_saving_entry" /></li>
</mtapp:setting>
<mtapp:setting
   id="rebuild_blog_ids_at_saving_page"
   label="<__trans phrase="Rebuild Blog ID at saving pages">">
  <input type="text" value="<mt:var name="rebuild_blog_ids_at_saving_page" escape="html">" name="rebuild_blog_ids_at_saving_page" id="rebuild_blog_ids_at_saving_page" /></li>
</mtapp:setting>
